@font-face {
    font-family: Norse-Bold;
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

body {
    margin: 0;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#image-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100vh;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
    color: white;
    background-image: url('/images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60%;
    height: 100vh;
}

#banner {
    width: 100%;
    height: 35%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#form-inputs {
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;   
    gap: 10px;
}

form {
    width: 80%;
    height: 70%;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

#form-inputs h4 {
    margin: 15px 10px 0px 30px;
    width: 100%;
}

.input-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(50% - 15px);
}

.input-block label {
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1px;
}

#form-submit {
    width: 100%;
    height: 35%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}