@font-face {
    font-family: Norse-Bold;
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

body {
    margin: 0;
}

#image-section {
    display: flex;
    width: 40%;
    height: 100vh;
    background-image: url('/images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}