@font-face {
    font-family: Norse-Bold;
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

body {
    margin: 0;
    display: flex;
}

#image-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100vh;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
    color: white;
    background-image: url('/images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60%;
    height: 100vh;
}