@font-face {
    font-family: Norse-Bold;
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

body {
    margin: 0;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#image-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100vh;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
    color: white;
    background-image: url('/images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60%;
    height: 100vh;
}

#banner {
    width: 100%;
    height: 35%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#form-inputs {
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-inputs input {
    width: 30%;
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
}

#form-inputs label {
    margin: 0;
    padding: 0;
    font-size: 9px;
    font-weight: bold;
}

#form-submit {
    width: 100%;
    height: 35%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}